%h1 Questions

%ul

  %li
    In demo11.html I list 14 JS files in the html-head.
    Is order of the files important?
  %li
    A: yes!
    %hr/

  %li
    Where to get convnet.js which contains all the convnet js files in one?
  %li
    A: 
    %a(href='http://cs.stanford.edu/people/karpathy/convnetjs/build/convnet.js' target='x')
      http://cs.stanford.edu/people/karpathy/convnetjs/build/convnet.js
    %hr/

  %li
    In
    %a(href='http://cs.stanford.edu/people/karpathy/convnetjs/intro.html' target='x')
      http://cs.stanford.edu/people/karpathy/convnetjs/intro.html
    %br/
    AK copies 28x28 pixel values into a 2D Volume of size (28,28).
    %br/
    What is a Volume? 
  %li
    AK describes a Vol at the top of this file:
    %br/
    %a(href='https://github.com/karpathy/convnetjs/blob/master/src/convnet_vol.js' target='x')
      https://github.com/karpathy/convnetjs/blob/master/src/convnet_vol.js
    %br/
    The above description sheds some light on the definition of a volume.
    %br/
    Perhaps volume is like a plane except volume is 3D and plane is 2D.
    %br/
    I see a Volume as a 3D Array.
    %hr/

  %li
    AK says, The first volume of activations represents your input.
    %br/
    In Linear Regression what is the name of your input?
  %li
    A:  I would call it one of these:
    %ul
      %li Input Variable
      %li X
      %li X values

    %a(href='http://www.google.com/search?q=Linear+Regression' target='x')
      http://www.google.com/search?q=Linear+Regression
    %br/
    %a(href='http://www.google.com/search?q=In+Linear+Regression+what+is+the+name+of+your+input' target='x')
      http://www.google.com/search?q=In+Linear+Regression+what+is+the+name+of+your+input
    %hr/

  %li
    In
    %a(href='http://cs.stanford.edu/people/karpathy/convnetjs/intro.html' target='x')
      http://cs.stanford.edu/people/karpathy/convnetjs/intro.html
    %br/
    AK shows a pink layer called CONV, what is that?
  %li
    A: I think it is called a 'Convolutional Layer', and it is related to a number of things:
    %ul
      %li The name of his software: ConvNetJS
      %li An idea/technique/algorithm named: Convolutional Neural Network
      %li
        I see example syntax for creating one at this URL:
        %br/
        %a(href='https://github.com/karpathy/convnetjs/blob/master/Readme.md' target='x')
          https://github.com/karpathy/convnetjs/blob/master/Readme.md
        %pre
          %code 
            layer_defs.push({type:'conv', sx:5, filters:16, stride:1, pad:2, activation:'relu'});
            \// the layer will perform convolution with 16 kernels, each of size 5x5.
            \// the input will be padded with 2 pixels on all sides to make the output Vol of the same size
            \// output Vol will thus be 32x32x16 at this point

      %li
        I see more example syntax for creating one at this URL:
        %br/
        %a(href='http://cs.stanford.edu/people/karpathy/convnetjs/docs.html' target='x')
          http://cs.stanford.edu/people/karpathy/convnetjs/docs.html
      %li
        AK claims that a Convolutional Neural Network is useful for image processing.
    %hr/

  %li
    In
    %a(href='http://cs.stanford.edu/people/karpathy/convnetjs/intro.html' target='x')
      http://cs.stanford.edu/people/karpathy/convnetjs/intro.html
    %br/
    AK shows a grey cube, what is that?
  %li
    A: He calls it a 3D array of numbers.
    %hr/

  %li
    In
    %a(href='http://cs.stanford.edu/people/karpathy/convnetjs/intro.html' target='x')
      http://cs.stanford.edu/people/karpathy/convnetjs/intro.html
    %br/
    AK shows a blue layer called POOL, what is that?
  %li
    A: He calls this the 'Pooling Layer' and gives short description at this URL:
    %br/
    %a(href='http://cs.stanford.edu/people/karpathy/convnetjs/docs.html' target='x')
      http://cs.stanford.edu/people/karpathy/convnetjs/docs.html
    %br/
    I dont understand the description but it appears related to image processing because he discusses W and H.
    %hr/


  %li
    In
    %a(href='http://cs.stanford.edu/people/karpathy/convnetjs/intro.html' target='x')
      http://cs.stanford.edu/people/karpathy/convnetjs/intro.html
    %br/
    AK shows a yellow layer called SOFTMAX, what is that?
  %li
    A: He calls this the 'Loss Layer' and gives short description at this URL:
    %br/
    %a(href='http://cs.stanford.edu/people/karpathy/convnetjs/docs.html' target='x')
      http://cs.stanford.edu/people/karpathy/convnetjs/docs.html
    %ul
      %li He lists two types of Loss Layers which correspond to classification:
      %li softmax
      %li SVM
      %li
        demos:
        %pre
          %code
            layer_defs.push({type:'softmax', num_classes:2});
            layer_defs.push({type:'svm',     num_classes:2});
      %li If I am doing regression, I use the string: 'regression'
      %li The API supports regression of more than 1 output which might be useful if I want to predict more than 1 stock, currency, volatility...
      %li
        demo:
        %pre
          %code layer_defs.push({type:'regression', num_neurons: 3}); // 3 outputs of regression
    %hr/

  %li
    %pre
      %code var v = new convnetjs.Vol(32, 32, 3);
    Does what?
  %li
    A: Creates a 3D Vol which is filled with random numbers.
    %hr/

  %li
    AK claims that a Vol object wraps two 'lists' which he calls:
    %ul
      %li volobj.w
      %li volobj.dw
    What are the dimensions of volobj.w and volobj.dw?
  %li
    A: Same as Vol. volobj.w contains the data and volobj.dw contains what AK calls 'gradients'.
    %hr/

  %li
    What is in the gradients?
  %li
    A: Initially gradients are set to 0 but they fill with numbers as data flows through the layers.  The gradients contain information which the network 'follows' during learning.
    %hr/

